@charset "utf-8";

main {
  width: 360px;
  margin:32px auto;
}

section {
  border : 4px double red;
  text-align: center;
  color: red;
  font-family: serif;
}

h1 {
  margin: 8px 0 0 0;
  font-weight: normal;
  font-size: 28px;
}

h2 {
  border-bottom: 2px solid red;
  font-weight: normal;
  font-size: 20px;
  padding-bottom: 8px;
  color: #7a0000
}

#result {
  margin: 0;
  font-weight: bold;
  font-size: 40px;
  padding: 24px 0;
}

#message {
  color: black;
  font-size: 16px;
}

button {
  all: unset;
  width: 100%;
  background: red;
  border-radius: 8px;
  color: white;
  text-align: center;
  padding: 8px 0;
  margin-top : 16px;
  cursor: pointer;
  box-shadow: 0 4px #7a0000;
}

button:hover {
  opacity: 0.8;
}

button:active {
  box-shadow: 0 1px #7a0000;
  transform: translateY(3px);
}

.box {
  height: 300px;
}
